/* Add styles for links */
.link {
  color: #3498db;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Pagination button styles */
.pagination button {
  padding: 10px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #d3d3d3;
}

.pagination button.active {
  background-color: #28a745;
}
